/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: rgb(16, 16, 16);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.07em;
  color: #f2f2f2;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  color: rgb(37, 37, 37);
  max-width: 40em;
  text-align: center;
  max-width: 40rem;
}

/* ============================================
                PROJECT CSS
   ============================================ */

/* ======== Navbar ======= */

.navbar {
  background: #250b02;
}

.navbar-container {
  width: 90vw;
  height: 5.5rem;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #f2f2f2;
  color: #250b02;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  cursor: pointer;
}

/* ======== Hero ======= */

.hero {
  height: calc(100vh - 5.5rem);
  background: linear-gradient(rgba(16, 16, 16, 0), rgba(15, 15, 15, 0)),
    url("./assets/m2.jpg") center/cover no-repeat scroll;
  display: flex;
}

.hero-container {
  width: 90vw;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: start;
  align-items: center;
}

.hero-container h2 {
  margin-top: 7rem;
}

/* ======== Sidebar ======= */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform: translate(100%);
}

.sidebar-open {
  transform: translateX(0);
  transition: all 0.3s linear;
}

.sidebar-container {
  padding: 3rem 2.5rem;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: #250b02;
  color: #f2f2f2;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar article {
  margin-bottom: 1.5rem;
}

.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.sidebar-sublinks a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.sidebar-sublinks a:hover {
  color: rgb(233, 161, 26);
}

/* ======== Navlinks ======= */

.navlinks-container {
  display: none;
}

.navlinks-btn {
  background: transparent;
  color: #f2f2f2;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.navlinks-btn:hover {
  color: rgb(233, 161, 26);
  cursor: pointer;
}

/* ======== Submenu ======= */

.submenu {
  display: none;
}

.submenu-links {
  display: none;
}

/* ============================================
                MEDIA QUERIES 
   ============================================ */

@media screen and (min-width: 768px) {
  .btn {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .navbar-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .navlinks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .submenu {
    display: block;
    position: fixed;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%) rotateX(-90deg);
    transform-origin: top;
    perspective: 1000;
    visibility: hidden;
    opacity: 0;
    width: 90vw;
    max-width: 72rem;
    margin: 0 auto;
    background: white;
    border-radius: 0.3rem;
  }

  .show-submenu {
    transform: translateX(-50%) rotateX(0deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
  }

  .submenu-links {
    display: grid;
    gap: 1rem;
    padding: 1.5rem 2rem;
  }

  .submenu-btn {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    text-transform: capitalize;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 1.85rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
